<!DOCTYPE html>
<html>
<head>
    <title>Manual Capture and Record</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .button-container {
            display: flex;
        }

        .button-container .form-group {
            margin: 0 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Manual Capture and Record</h1>

    <div class="button-container">
        <form action="/manual_capture_image" method="POST">
            <div class="form-group">
                <label for="capture_image">Capture Image:</label>
                <button id="capture_image" class="btn btn-primary" type="submit" name="capture_image">Capture</button>
            </div>
        </form>
        <div class="form-group">
            <label for="record_sound">Record Sound:</label>
            <button id="record_sound" class="btn btn-primary" type="button" name="record_sound">Record</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function startRecording() {
        // Disable the button
        document.getElementById('record_sound').disabled = true;
        // Change button text
        document.getElementById('record_sound').innerText = 'Recording...';

        // Make an AJAX request to start recording
        $.ajax({
            url: '/manual_record_sound',
            type: 'POST',
            success: function (response) {
                // Enable the button
                document.getElementById('record_sound').disabled = false;
                // Change button text back to 'Record'
                document.getElementById('record_sound').innerText = 'Record';
            }
        });
    }

    // Add a click event listener to the "Record Sound" button
    document.getElementById('record_sound').addEventListener('click', function () {
        startRecording();
    });
</script>
</body>
</html>
