
.h70{
    font-size: 70px;
}

.main-color{
    background-color: #C7F9CC;
}
/* home.html */
#home-logo{
    height: 45vh;
    width : 45vh;
}
/* station_platform.html */
#side-block{
    height: 65vh;
}
#main-block{
    height: 65vh;
}
#main-block-example{
    width: 98%;
    height: 98%;
}
#bottom-block{
    height: 20vh;
}
.person-fill{
    height: 75px;
}

.flashingColon {
    animation: flash 1s infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
